<!-- <div class="about-sec bg-light h-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 d-flex">
                <div class="about-image">
                    <img src="assets/images/about-perfil.png" alt="">
                </div>

            </div>
            <div class="col-lg-6">
                <h1 class="about-title">About Me.</h1>
                <div class="about-content ps-5">
                    <p>
                        Passionate about creating <b>web pages</b> using <b>UI/UX</b>, and have <b>2 Years</b> of
                        experience using
                        <b>Angular framework.</b>
                        I currently work for <b>itLink</b> as a <b>front-end developer</b> and I am looking forward to
                        learning <b>back-end</b> of becoming a <b>full-stach developer</b>.
                    </p>
                    <p class="mt-5">
                        <b>My Skills are</b> : <br>
                        <span style="font-weight: 400;">HTML5, CSS3, JavaScript, ECMA 6, TypeScript Angular, Bootstrap &
                            primeNG.</span>
                    </p>
                </div>
                <div class="d-flex">
                    <button class="btn ms-5"><i class="bi bi-send-arrow-up-fill"></i> Contact Me</button>
                    <a class="d-block my-auto ms-3"><i class="bi bi-linkedin h1 text-dark bg-light"></i></a>
                </div>
            </div>

        </div>
        <div class="main-services">
            <h1 class="services-title">Services.</h1>
        </div>
    </div>
</div> -->