<!-- <div class="home-sec bg-light h-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-5">
                <h1 class="home-name">Mohamed Taha</h1>
                <div class="home-content ps-5">
                    <p>
                        <b>Frontend Developer</b>, with knowledge in web development with <b>Angular</b> and
                        <b> UI/UX design</b>, I offer the
                        best projects resulting in quality work.
                    </p>
                </div>
                <button class="btn ms-5">About Me</button>
            </div>
            <div class="col-lg-5 d-flex">
                <div class="home-image">
                    <img src="assets/images/home-perfil.jpg" alt="">
                    <div class="home-shadow"></div>
                    <img class="home-arrow" src="assets/images/curved-arrow.svg" alt="">
                    <img class="home-line" src="assets/images/random-lines.svg" alt="">
                    <div class="geometric-box"></div>
                </div>
                <div class="home-icon my-auto">
                    <a class="d-block my-2"><i class="bi bi-instagram"></i></a>
                    <a class="d-block my-2"><i class="bi bi-linkedin"></i></a>
                    <a class="d-block my-2"><i class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> -->